nextflow.enable.dsl=2

// Enable automatic cleanup
cleanup = true

params {
    // GenomicsDB location - MUST match pipeline1
    genomicsdb_dir = null //  via command line: --genomicsdb_dir
    
    // Joint analysis name
    samplename_joint = null  // via command line: --samplename_joint 
    
    // Reference genome files 
    reference = '/mnt/genomics/illumina/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
    reference_fai = '/mnt/genomics/illumina/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa.fai'
    reference_dict = '/mnt/genomics/illumina/ref/Homo_sapiens.GRCh38.dna.primary_assembly.dict'
    reference_ann = '/mnt/genomics/illumina/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa.ann'
    reference_bwt = '/mnt/genomics/illumina/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa.bwt'
    reference_pac = '/mnt/genomics/illumina/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa.pac'
    reference_amb = '/mnt/genomics/illumina/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa.amb'
    reference_sa = '/mnt/genomics/illumina/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa.sa'

    // Tools
    picard = '/mnt/genomics/illumina/tools/picard/picard.jar'

    // VQSR resources 
    hapmap = '/mnt/genomics/illumina/resources/hapmap_3.3.hg38_update.vcf.gz'
    hapmap_tbi = '/mnt/genomics/illumina/resources/hapmap_3.3.hg38_update.vcf.gz.tbi'
    omni = '/mnt/genomics/illumina/resources/1000G_omni2.5.hg38_update.vcf.gz'
    omni_tbi = '/mnt/genomics/illumina/resources/1000G_omni2.5.hg38_update.vcf.gz.tbi'
    phase1 = '/mnt/genomics/illumina/resources/1000G_phase1.snps.high_confidence.hg38_update.vcf.gz'
    phase1_tbi = '/mnt/genomics/illumina/resources/1000G_phase1.snps.high_confidence.hg38_update.vcf.gz.tbi'
    dbsnp = '/mnt/genomics/illumina/resources/Homo_sapiens_assembly38.dbsnp138_update.vcf.gz'
    dbsnp_tbi = '/mnt/genomics/illumina/resources/Homo_sapiens_assembly38.dbsnp138_update.vcf.gz.tbi'
    mills = '/mnt/genomics/illumina/resources/Mills_and_1000G_gold_standard.indels.hg38_update.vcf.gz'
    mills_tbi = '/mnt/genomics/illumina/resources/Mills_and_1000G_gold_standard.indels.hg38_update.vcf.gz.tbi'
    
    // BED files directory 
    bed_files_dir = '/mnt/genomics/GIAB_stratifications/bedfiles_anno'
    
    // Intervals file 
    intervals = '/mnt/genomics/nficdg/intervals.list'
    
    // Output directory
    outdir = "/mnt/genomics/HG002Novaseq6000_SRR14724522/results_joint_calling"
}

process {
    // JOINT VARIANT CALLING
    withName:GENOTYPEGVCFS_SPLIT {
        cpus = 2
        memory = '4 GB'
        time = '6.h'
        maxForks = 30
    }
    
    withName:MERGE_INTERVAL_VCFS {
        cpus = 60
        memory = '60 GB'
        time = '2.h'
    }
    
    // VARIANT QUALITY SCORE RECALIBRATION
    withName:VARIANTRECALIBRATOR_SPLIT {
        cpus = 60
        memory = '100 GB'
        time = '6.h'
    }
    
    withName:APPLYVQSR_SPLIT {
        cpus = 20
        memory = '12 GB'
        time = '3.h'
    }
    
    // ANNOTATION
    withName:VCF_ANNOTATION {
        cpus = 8
        memory = '16 GB'
        time = '4.h'
    }
}

executor {
    name = 'local'
    cpus = 70
    memory = '150 GB'
    queueSize = 100
    submitRateLimit = '10/1s'
}

process.shell = ['/bin/bash', '-euo', 'pipefail']
process.errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
process.maxRetries = 1

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}

