nextflow.enable.dsl=2

params {
    // Sample-specific parameters - provided via command line only
    samplename = null
    fastq1 = null
    fastq2 = null
    
    // Reference genome files
    reference = '/mnt/genomics/illumina/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
    reference_fai = '/mnt/genomics/illumina/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa.fai'
    reference_dict = '/mnt/genomics/illumina/ref/Homo_sapiens.GRCh38.dna.primary_assembly.dict'
    reference_ann = '/mnt/genomics/illumina/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa.ann'
    reference_bwt = '/mnt/genomics/illumina/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa.bwt'
    reference_pac = '/mnt/genomics/illumina/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa.pac'
    reference_amb = '/mnt/genomics/illumina/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa.amb'
    reference_sa = '/mnt/genomics/illumina/ref/Homo_sapiens.GRCh38.dna.primary_assembly.fa.sa'

    // Tools
    picard = '/mnt/genomics/illumina/tools/picard/picard.jar'

    // Base recalibrator resources
    resources_knownindels = '/mnt/genomics/illumina/resources/Homo_sapiens_assembly38.known_indels_update.vcf.gz'
    resources_knownindels_tbi = '/mnt/genomics/illumina/resources/Homo_sapiens_assembly38.known_indels_update.vcf.gz.tbi'
    resources_mills = '/mnt/genomics/illumina/resources/Mills_and_1000G_gold_standard.indels.hg38_update.vcf.gz'
    resources_mills_tbi = '/mnt/genomics/illumina/resources/Mills_and_1000G_gold_standard.indels.hg38_update.vcf.gz.tbi'
    
    // Intervals file for parallelization
    intervals = '/mnt/genomics/Small-Variant-Calling-pipelines/intervals.list'
    
    
     // GenomicsDB persistent storage path
    genomicsdb_persistent_path = '/mnt/genomics/Small-Variant-Calling-pipelines/persistent_genomicsdb'

    // Output directory
    outdir = "results"
}

process {
    // ALIGNMENT AND PREPROCESSING
    withName:BWAMEM_SORT {
        cpus = 65
        memory = '140.GB'
        time = '6.h'
    }

    withName:MARKDUPLICATES {
        cpus = 65
        memory = '140.GB'
        time = '5.h'
    }

    withName:BUILDBAMINDEX {
        cpus = 8
        memory = '8.GB'
        time = '1.h'
    }

    // BASE QUALITY SCORE RECALIBRATION
    withName:BASERECALIBRATOR {
        cpus = 4
        memory = '8.GB'
        time = '5.h'
        maxForks = 18
    }
    
    withName:GATHERBQSRREPORTS {
        cpus = 50
        memory = '40.GB'
        time = '2.h'
    }

    withName:APPLYBQSR {
        cpus = 4
        memory = '8.GB'
        time = '5.h'
        maxForks = 18
    }
    
    withName:GATHERBAMFILES {
        cpus = 50
        memory = '40.GB'
        time = '2.h'
    }

    withName:INDEXBAMBQSR {
        cpus = 50
        memory = '50.GB'
        time = '30.m'
    }

    // VARIANT CALLING
    withName:HAPLOTYPECALLER {
        cpus = 2
        memory = '5.GB'
        time = '9.h'
        maxForks = 30  
    }

    withName:INDEXGVCF {
        cpus = 2
        memory = '5.GB'
        time = '10.h'
        maxForks = 30
    }

    // GENOMICSDB IMPORT - Final step of this pipeline
    withName:GENOMICSDBIMPORT {
        cpus = 2  
        memory = '5.GB'  
        time = '8.h'  
        maxForks = 30
    }
}

workDir = './work'

executor {
    name = 'local'
    cpus = 70
    memory = '155.GB'
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.outdir}/${params.samplename}/pipeline_info/execution_timeline.html"
    overwrite = true
}
report {
    enabled = true
    file = "${params.outdir}/${params.samplename}/pipeline_info/execution_report.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${params.outdir}/${params.samplename}/pipeline_info/execution_trace.txt"
    overwrite = true
}
dag {
    enabled = true
    file = "${params.outdir}/${params.samplename}/pipeline_info/pipeline_dag.svg"
    overwrite = true
}
